@page
@model AcmeNotas.App.Presentacion.Pages.CrudMunicipio.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Municipio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Municipio.Departamento" class="control-label"></label>
                <select asp-for="DepartamentoID" class="form-control" asp-items="Model.listaDepartamentos">
                    <option>Seleccione un departamento</option>
                </select>

                <span asp-validation-for="Municipio.Departamento
                " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio.CodMunicipio" class="control-label"></label>
                <input asp-for="Municipio.CodMunicipio" class="form-control" required />
                <span asp-validation-for="Municipio.CodMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio.NombreMunicipio" class="control-label"></label>
                <input asp-for="Municipio.NombreMunicipio" class="form-control" required/>
                <span asp-validation-for="Municipio.NombreMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
