@page
@model AcmeNotas.App.Presentacion.Pages.CrudFormador.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Formador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Formador.IdF" class="control-label"></label>
                <input asp-for="Formador.IdF" class="form-control" />
                <span asp-validation-for="Formador.IdF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.CodigoFormador" class="control-label"></label>
                <input asp-for="Formador.CodigoFormador" class="form-control" />
                <span asp-validation-for="Formador.CodigoFormador" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Formador.Id" />
            <div class="form-group">
                <label asp-for="Formador.Cedula" class="control-label"></label>
                <input asp-for="Formador.Cedula" class="form-control" />
                <span asp-validation-for="Formador.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Nombres" class="control-label"></label>
                <input asp-for="Formador.Nombres" class="form-control" />
                <span asp-validation-for="Formador.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Apellidos" class="control-label"></label>
                <input asp-for="Formador.Apellidos" class="form-control" />
                <span asp-validation-for="Formador.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Direccion" class="control-label"></label>
                <input asp-for="Formador.Direccion" class="form-control" />
                <span asp-validation-for="Formador.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Telefono" class="control-label"></label>
                <input asp-for="Formador.Telefono" class="form-control" />
                <span asp-validation-for="Formador.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Celular" class="control-label"></label>
                <input asp-for="Formador.Celular" class="form-control" />
                <span asp-validation-for="Formador.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.CorreoElectronico" class="control-label"></label>
                <input asp-for="Formador.CorreoElectronico" class="form-control" />
                <span asp-validation-for="Formador.CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Departamento" class="control-label"></label>
                <input asp-for="Formador.Departamento" class="form-control" />
                <span asp-validation-for="Formador.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Municipio" class="control-label"></label>
                <input asp-for="Formador.Municipio" class="form-control" />
                <span asp-validation-for="Formador.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Usuario" class="control-label"></label>
                <input asp-for="Formador.Usuario" class="form-control" />
                <span asp-validation-for="Formador.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formador.Password" class="control-label"></label>
                <input asp-for="Formador.Password" class="form-control" />
                <span asp-validation-for="Formador.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
