@page
@model AcmeNotas.App.Presentacion.Pages.CrudTutor.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tutor.CodigoTutor" class="control-label"></label>
                <input asp-for="Tutor.CodigoTutor" class="form-control" />
                <span asp-validation-for="Tutor.CodigoTutor" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Tutor.Id" />
            <div class="form-group">
                <label asp-for="Tutor.Cedula" class="control-label"></label>
                <input asp-for="Tutor.Cedula" class="form-control" />
                <span asp-validation-for="Tutor.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Nombres" class="control-label"></label>
                <input asp-for="Tutor.Nombres" class="form-control" />
                <span asp-validation-for="Tutor.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Apellidos" class="control-label"></label>
                <input asp-for="Tutor.Apellidos" class="form-control" />
                <span asp-validation-for="Tutor.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Direccion" class="control-label"></label>
                <input asp-for="Tutor.Direccion" class="form-control" />
                <span asp-validation-for="Tutor.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Telefono" class="control-label"></label>
                <input asp-for="Tutor.Telefono" class="form-control" />
                <span asp-validation-for="Tutor.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Celular" class="control-label"></label>
                <input asp-for="Tutor.Celular" class="form-control" />
                <span asp-validation-for="Tutor.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.CorreoElectronico" class="control-label"></label>
                <input asp-for="Tutor.CorreoElectronico" class="form-control" />
                <span asp-validation-for="Tutor.CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Departamento" class="control-label"></label>
                <input asp-for="Tutor.Departamento" class="form-control" />
                <span asp-validation-for="Tutor.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Usuario" class="control-label"></label>
                <input asp-for="Tutor.Usuario" class="form-control" />
                <span asp-validation-for="Tutor.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Password" class="control-label"></label>
                <input asp-for="Tutor.Password" class="form-control" />
                <span asp-validation-for="Tutor.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tutor.PrimerRegistro" /> @Html.DisplayNameFor(model => model.Tutor.PrimerRegistro)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
